<a href="https://colab.research.google.com/github/fathimajafir/KNN_learning/blob/main/Learning_KNN_algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('/content/Iris.csv')

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
df.drop('Id',axis=1,inplace=True)
df['Species'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [8]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
pd.get_dummies(df[['Species']])

     Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                      1                        0                       0
1                      1                        0                       0
2                      1                        0                       0
3                      1                        0                       0
4                      1                        0                       0
..                   ...                      ...                     ...
145                    0                        0                       1
146                    0                        0                       1
147                    0                        0                       1
148                    0                        0                       1
149                    0                        0                       1

[150 rows x 3 columns]

In [10]:
df['Species'].value_counts()

Iris-setosa        50
Iris-virginica     50
Iris-versicolor    50
Name: Species, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X=df.drop('Species',axis=1)

In [13]:
X

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [14]:
y=df['Species']

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1234)

In [16]:
print(X_train.shape)

(120, 4)

In [17]:
print(y_train.shape)

(120,)

In [18]:
from collections import Counter

In [ ]:
#By defining this KNN class we can understand the Algorithm clearly

In [19]:
#define Eucleadean distance
def Eucleadean(x1,x2):
  np.sqrt(np.sum((x1-x2)**2))
#define a class KNN
class KNN:
  def _init_(self,k=3):
    self.k=k
  def fit(self,X,y):
    self.X_train=X
    self.y_train=y
  def predict(self,X):
    predicted_labels=[self._predict(x) for x in X]
  def _predict(self,x):
    #calculate the distances 
      distances=[Eucleadean(x,x_train) for x_train in self.X_train]
    #get the nearest neighbours , labels 
      k_indices=np.argsort(distances)[:self.k] 
      k_nearest_labels=[self.y_tain(i) for i in k_indices]
#most common class label  
      most_common=Counter(k_nearest_labels).most_common(1)
      #return a tuple with most common item and number of times it occurs 
      return most_common[0][0]

In [23]:
from sklearn.neighbors import KNeighborsClassifier

In [66]:
KNN=KNeighborsClassifier(n_neighbors=6)

In [67]:
KNN.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=6)

In [68]:
predictions=KNN.predict(X_test)

In [69]:
acc=np.sum(predictions==y_test)/len(y_test)

In [70]:
print(acc)

1.0